{% extends 'base.html' %}

{% block body %}

<h1>{{ the_title }}</h1>

<CENTER>
<form method="POST" action="/myth.html" style="font-size: 25px;">
	Name of Company:<br>
	<input type="text" name="name" id="name" style="width: 400px;height: 30px;">
	<br>
	Phone:<br>
	<input type="text" name="phone" id="phone" style="width: 400px;height: 30px;"><br><br>
	<input type="submit" name="submit" value="Submit" style="width: 200px;height: 40px;background-color: cyan;">
</form>
</CENTER>
<ul>
  <li><a href="/">Home page</a></li>
</ul>


{% endblock %}
